{erl_opts, [debug_info]}.

{deps, [{cessna, {git, "git@github.com:amoein/cessna.git",{tag, "v0.2.1"}}}]}.

{escript_main_app, test}.

{escript_name, "cessna_example_tools"}.

{escript_emu_args, "%%! -escript main test_tools\n"}.

{escript_incl_apps, [cessna_example, lager]}.

{project_plugins, [erlfmt]}.

{erlfmt, [write]}.

{shell, [{apps, [cessna, cessna_example]}]}.

{relx, [
    {release, {cessna_example, "v0.2.0"}, [
        cessna, cessna_example, {observer, load}, {runtime_tools, load}
    ]},
    {dev_mode, true},
    {extended_start_script, true},
    {vm_args, "config/vm.args"},
    {sys_config, "config/app.config"}
]}.
